<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <add key="RegEmailToAddress" value="helpline.us@polynt.com"/>
      <add key="RegEmailFromAddress" value="pubcartrequest@polynt.com"/>
      <add key="RegEmailSubject" value="PubCart Registration Request"/>
      <add key="RegEmailSMTPAddress" value="webmail.polynt.us"/>
  </appSettings>
</configuration>
